html, body{
    box-sizing: border-box;
    margin:0px;
    height: 100%;
    font-family: sans-serif;
}
:root{
    --links-mobile-size: 300px;
    --links-desktop-size: 450px;
    --links-width-size: 300px;
}

body{
    background-image: url("main_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
 
}
.wrapper{
    display: flex;
    /* background-color: rgb(18, 18, 48); */
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    min-height: 500px;
    /* height: 1000px; */
    /* width: 500px; */
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    top: 40px;
    margin-bottom: 60px;
    justify-content: center;
    
}
.name-occupation{
    margin-top: 20px;
    font-size: 1.1rem;
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.profile-container img:hover{
    transform: scale(1.2);
}
.profile-container img{
    border-radius: 50%;
    height: 150px;
    background: linear-gradient(#e66465, #9198e5);
    transition: transform 0.2s ease;
    box-shadow: 0px 0px 20px 4px #e66465;
}
.links-profile{
    display: flex;
    height: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.links-container{
    display: flex;
    flex-direction: column;
    width: var(--links-width-size);
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.links-container a:not(:last-child){
    margin-bottom: 20px;
}

.regular-links{
    display: block;
    text-decoration: none;
    text-align: center;
    /* cursor: pointer; */
    /* border: none; */
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    /* height: 50px; */
    padding: 20px 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    color: rgb(111, 255, 159);
    border-radius: 40px;
    transition: background-color 0.3s ease,
                width 0.3s ease;
}

.regular-links:hover{
    background-color: rgb(247, 250, 84);
    width: 110%;
    color: rgb(18, 16, 27);
    box-shadow: 0px 0px 20px 4px #e66465;
}

.social-media-container{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blanchedalmond; */
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
}
.media-icon{
    width: 40px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
    /* background-color: #9198e5; */
}

.media-icon:hover{
    transform: scale(1.2);
}
.media-icon.twitter{
    background-image: url("twitter_logo.svg");  
}

.media-icon.twitch{
    background-image: url("twitch_logo.svg");  
}
@media (min-width: 1000px){
    .links-container{

        --links-width-size: var(--links-desktop-size); 
    }
}